.container{
    display: flex;
    flex-direction: column;
    width: 512px;
    height: 512px;
    border: solid black;
    box-sizing: border-box;
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+ */
    user-select: none;         /* Disable text selection */
}
.row {
    display: flex; /* Flex row for grid cells */
    flex: 1;
}

.case {
    flex: 1; /* Each case/grid item takes equal space in the row */
    box-sizing: border-box; /* Ensure borders are included in size */
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
    margin: 0; /* Remove default margin */
    height: 100%;
}
.upcontainer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
button {
    background-color: black;
    color: #FFFFFF;
    border: 0px;
    border-radius: 10px;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    display: inline-block;
    transition: opacity 0.3s ease, transform 0.1s ease; /* Add transition for hover and click */
}

button:hover {
    opacity: 0.7;
}

button:active {
    transform: scale(0.95);
}